.reviews-wrapper {
  .block-add-review {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding: 15px;
    background-color: #f7f7f7;

    .add-review-btn {
      width: 200px;
      height: 40px;
      background-color: #e06f84;

      &:hover {
        background-color: #e08b9c;
      }
    }
  }
  .item-review {
    margin: 25px 0;
    .review-header {
      display: flex;
      align-items: center;
      gap: 10px;
      min-height: 35px;

      .review-date {
        font-size: 14px;
        font-weight: 500;
        color: #959595;
      }

      .review-rating {
        font-size: 1.3rem;
      }

      .review-del-btn {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    .reply-section {
      border-left: 1px solid #cbcbcb;
      padding-left: 10px;
      margin-left: 10px;

      .reply-btn,
      .open-replies-btn {
        font-size: 12px;
        margin-top: 5px;
        width: 80px;
        height: 20px;
        color: #008ec8;
        justify-content: flex-start;
        background-color: transparent;
        letter-spacing: 1px;
        font-weight: 600;

        svg {
          width: 15px;
          height: 15px;
          stroke: #008ec8;
          margin-right: 5px;
        }

        &:hover {
          color: #f84147;

          svg {
            stroke: #f84147;
          }
        }
      }

      .open-replies-btn {
        width: 150px;
        margin-top: 15px;
      }
    }
  }

  .replies-list {
    .item-review {
      margin: 5px 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .reviews-wrapper {
    .block-add-review {
      justify-content: center;
      background-color: #fff;

      .add-review-btn {
        width: 90%;
        height: 40px;
        background-color: #f7f7f7;
        border: 1px solid #959595;
        color: #008ec8;
        font-size: 15px;
        letter-spacing: 1px;

        &:hover {
          background-color: #f7f7f7;
        }
      }
    }
  }
}
