@mixin mobile-menu-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  letter-spacing: 1px;
  width: 100%;
  height: 60px;
  padding: 5px 15px;
  background-color: transparent;
  color: #000;
  border-bottom: 1px solid #dbdde7;
}

@mixin svg-wrapper($color) {
  color: #ffffff;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: $color;
}

.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  background-color: #f4f5f7;
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: transform 0.3s ease;

  &.hide {
    transform: translateX(-100%);
  }

  &.show {
    transform: translateX(0%);
  }

  .mobile-menu-navigation {
    width: 100%;

    .mobile-menu-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      height: 60px;
      background-color: #6f3e7e;

      .mobile-menu-user-name {
        order: 2;
        font-weight: 300;

        .user-email {
          font-size: 10px;
        }
      }

      .mobile-menu-close-btn {
        order: 3;
        width: 30px;
        height: 30px;
        background-color: transparent;
        svg {
          width: 20px;

          &:hover {
            fill: #c69bd8;
          }
        }
      }
    }

    .mobile-menu-catalog-btn {
      @include mobile-menu-btn();

      .svg-wrapper {
        @include svg-wrapper(#e06f84);
      }
    }

    .mobile-user-box {
      padding: 5px 15px 5px 0;
      height: 60px;
      display: flex;
      justify-content: flex-end;
      border-bottom: 1px solid #dbdde7;

      .mobile-btn-favorite,
      .mobile-btn-user {
        display: flex;
        flex-direction: column;
        font-size: 11px;
        color: #000;
        position: relative;
        width: 50px;
        height: 50px;
        background-color: #f4f5f7;
        margin-left: 10px;

        &.logout {
          margin-right: auto;
        }

        .svg-wrapper {
          svg {
            width: 32px;
            height: 32px;
            stroke: #000;
            fill: #000;
          }
        }

        .value {
          background-color: #e06f84;
          width: 18px;
          height: 18px;
          position: absolute;
          top: 0%;
          right: 0;
          color: #ffffff;
        }
      }

      .mobile-btn-favorite {
        .svg-wrapper {
          svg {
            width: 30px;
          }
        }
      }
    }

    .mobile-btn-stock {
      @include mobile-menu-btn();
      margin-top: 9px;

      .svg-wrapper {
        @include svg-wrapper(#eaedf7);

        svg {
          width: 26px;
          height: 26px;
          fill: #000;
        }
      }
    }

    .mobile-nav-bar {
      width: 100%;
      padding: 25px 15px 15px 15px;

      ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        li {
          align-content: center;
          text-align: left;
          width: 100%;
          height: 60px;
          border-bottom: 1px solid #dbdde7;

          a {
            display: inline-block;
            width: 100%;
            text-decoration: none;
            color: #000;
          }
        }
      }
    }
  }

  .schedule {
    align-content: center;
    width: 100%;
    height: 60px;
    background-color: #6f3e7e;
  }
}
