@import '../../../../../../../variables.scss';

@keyframes slideProfileModal {
  from {
    height: 0;
  }
  to {
    height: 80px;
  }
}

.user-box {
  background-color: $primary-btn-color;
  display: flex;
  border-radius: 5px;
  position: relative;

  .user-box-btn {
    position: relative;

    &.auth {
      display: flex;
      flex-direction: row-reverse;
      font-size: 25px;
      svg {
        position: absolute;
        bottom: 20%;
        right: 18%;
        width: 10px;
        height: 10px;
        align-self: flex-end;
      }
    }

    &.profile {
      width: 100%;
      height: 40px;
    }
  }

  .profile-modal {
    display: none;
    flex-wrap: wrap;
    color: black;
    background-color: #3b3b3b;
    color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 101%;
    right: 0%;
    height: 40px;
    width: 100%;
    overflow: hidden;
    z-index: 10;

    &.show {
      display: flex;
      animation: slideProfileModal 0.3s linear forwards;
    }
  }
}
