.home-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  padding-bottom: 25px;
  width: 100vw;
  overflow: hidden;

  .products-list {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    .product-category {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-top: 60px;
      // width: 48%;

      .category-title {
        display: flex;
        width: 35vw;
        margin-bottom: 10px;
        align-items: center;

        .category-buttons {
          border-radius: 50%;
          width: 40px;
          height: 40px;
          margin-left: 10px;

          &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }
      }

      .products {
        display: flex;
        justify-content: space-between;
        margin: 0%;

        .card-product {
          width: 17.2vw;
          height: 32vw;

          h3 {
            font-size: 0.9vw;
          }
        }
      }
    }
  }

  .skeleton-wrapper {
    width: 17.2vw;
  }
}

@media screen and (max-width: 1024px) {
  .home-wrap {
    .catalog-btn-wrap {
      width: 60%;
      margin-top: 20px;

      .home-catalog-btn {
        width: 100%;
        position: relative;
        justify-content: center;
        background-color: #e06f84;
        font-size: 16px;

        svg {
          left: 3%;
          position: absolute;
        }
      }
    }

    .products-list {
      width: 100%;

      .product-category {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;

        .category-title {
          width: 100%;
          justify-content: center;
          margin-bottom: 10px;
        }

        .products {
          width: 55vw;

          .card-product {
            width: 27vw;
            height: 48vw;

            .card-product-info {
              height: 18vw;
              h3 {
                font-size: 1.4vw;
              }
            }

            .favorites-btn-wrap {
              right: 3%;
            }

            .card-product-info {
              font-size: 11px;
            }
          }
        }
      }
    }

    .skeleton-wrapper {
      width: 27vw;
    }
  }
}

@media screen and (max-width: 768px) {
  .home-wrap {
    .catalog-btn-wrap {
      width: 90%;
    }
    .products-list {
      .product-category {
        .products {
          width: 96%;
          .card-product {
            width: 49%;
            height: 86vw;

            .card-product-info {
              height: 37vw;
              h3 {
                font-size: 2.5vw;
              }
            }
          }
        }
      }
    }

    .skeleton-wrapper {
      width: 49%;
    }
  }
}
