.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;

  .skeleton-wrapper {
    width: 49%;
  }
}

@media screen and (max-width: 1024px) {
  .products {
    justify-content: center;
    gap: 5px;
  }
}
