.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.6vw;
}

@media screen and (max-width: 1024px) {
  .products {
    width: 90%;
    gap: 0.8vw;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .products {
    width: 100%;
    margin: 0 auto;
    gap: 1vw;
  }
}
