.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

@media screen and (max-width: 1024px) {
  .products {
    width: 90%;
    gap: 8px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .products {
    width: 100%;
    margin: 0 auto;
    gap: 5px;
  }
}
