.search-list-wrap {
  width: 90%;

  .search-list-title {
    margin: 15px auto;
  }

  .search-value {
    color: #f05a00;
    font-weight: 400;
  }

  .empty-search-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    img {
      width: 200px;
    }

    .empty-search-list-title {
      text-align: left;
      margin: 20px 0;
    }

    .catalog-btn {
      margin-top: 30px;
      width: 260px;
      height: 40px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .search-list-wrap {
    .empty-search-list {
      flex-direction: column;

      img {
        width: 150px;
      }

      .empty-search-list-title {
        text-align: center;
      }

      .catalog-btn {
        margin: 30px auto;
      }
    }
  }
}
